<h1>Estimation of Metabolic and Physiological Parameters from Anthropometric Measurements</h1>

This tool estimates various metabolic and physiological parameters; such as basal metabolic rate and percentage body fat; from anthropometric (body dimensions) measurements, using various formula.<br>
<br>
As each formula uses different set of measurements, it is advisable to input as many measurements as possible in order to utilize all available formula. <b>At the very least, you should put in gender, age, height, and weight.</b> The rest of the measurements are not mandatory. <b>If you do not have or do not wish to enter a particular measurement, please set the measurement to 0 or blank the measurement so that the tool know which measurement to ignore.</b><u>Please also take note of the unit of each measurement. I prefer metric units; hence, please do not ask me change to imperial units (despite the fact that I know my waist circumference in imperial unit). Convert to the required units by youself. If you cannot do it, too bad.</u><br>
<br>
<br>
<br>
{{=BEAUTIFY(form)}}<br>
<br>
<b>Where to measure:</b>
<li>Neck – Just under the Adam's apple.</li>
<li>Waist – Across the navel.</li>
<li>Wrist – At the thinnest point of the wrist, just before it meets the hand.</li>
<li>Forearm – At the widest part of the forearm with the arm relaxed by the side of the body.</li>
<li>Hips – Around the widest part of your butt. Note this almost surely is NOT around your hipbones.</li>
<li>Thigh – Around the widest part of the thigh. Generally this will be near the top of the thigh. Take care not to include part of your butt in the measurement.</li>
<li>Calf – Around the widest part of the calf while standing up.</li>
