{{extend 'layout.html'}}

<p>BioDBCat is an effort to catalog published biological and biomedical databases on an annual basis. This project was started in 2013 by Maurice Ling and Koh Yong Zher to get a feel of the number and types of biological databases published within the year. As this effort goes on, it seems to be a potential contribution to the scientific community to have such a catalogue; hence, BioDBCat was born.</p>

<p>At the same time, we are also interested to see the half-life of published databases as most journals only require the published database to be online for around 2 years.</p>

<p>This is an on-going project. We aim update this catalogue annually. At the same time, we cannot ensure that this catalogue completely captures all published databases.</p>

<p>If there are any databases that we had missed out or any errors, please let me know via email at mauriceling @AT@ acm dot org.</p>

<p>Please feel free to <a href="https://mauricelab.pythonanywhere.com/biodbcat/default/search">browse/search</a> the catalogue once you had <a href="https://mauricelab.pythonanywhere.com/biodbcat/default/user/register?_next=/biodbcat/user/login">registered</a> and <a href="https://mauricelab.pythonanywhere.com/biodbcat/default/user/login?_next=/biodbcat/default/index">logged in</a>.</p>
<br><br>
<p><b>References:</b>
<li>Koh, YZ, Ling, MHT. 2014. Catalog of Biological and Biomedical Databases Published in 2013. Computational and Mathematical Biology 3: 3. [<a href="http://www.iconceptpress.com/download/paper/14020410001128.pdf">PDF</a>]</li>
</p>
